{
  "presets": [
    ["env", { "modules": false }],
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": ["transform-remove-console", "react-hot-loader/babel", "transform-runtime","lodash", ["import", {
  		"libraryName": "antd-mobile",
  		"style": true
	}]]
}