.border-bottom-none() {
  & {
    border-bottom: none !important;
    border-top: none !important;
  }
}
.roll-call-wrap,
.sys-set {
  height: 100%;
  overflow: hidden;
  .am-list-view-scrollview-content {
    min-width: inherit;
    width: 100%;
  }

  .rocall-body {
    border-radius: 6px;
    padding: 0.32rem;
    overflow: hidden;
    background: #f5f6f7;
    box-sizing: border-box;
    .am-accordion-content-box {
      border: none !important;
    }
    .rollcall-item {
      background: #fff;
      border-radius: 0.213333rem;
      overflow: hidden;
      .am-list-body {
        .am-list-item {
          height: 1.866667rem;
          .am-list-content {
            font-size: 0.426667rem;
            color: #2d2e31;
            font-weight: bold;
          }
        }
        .border-bottom-none();
      }
      .rollcall-img {
        // width: 0.853333rem;
        // height: 0.853333rem;
      }
    }
  }
  .item-list {
    border-radius: 0;
    padding: 0.32rem 0;
    .rollcall-item {
      border-radius: 0;
      .am-list-body {
        .am-list-item {
          .am-list-content {
            font-size: 0.453333rem;
            color: #4b4c4f;
            font-weight: bold;
          }
        }
      }
    }
    .list-view-section-body {
      .part-line:last-child {
        display: none;
      }
    }
  }
}
