.detail-component {
  width: 9.36rem;
  margin: 0 auto;
  .infor-list {
    display: flex;
    justify-content: space-between;
    font-size: 0.426667rem;
    padding: 0.373333rem 0;
    border-bottom: 1px solid #e5e5e5;
    p {
      color: #81838c;
      line-height: 0.853333rem;
    }
    .infor-cont {
      width: 5.946667rem;
      text-align: right;
      word-wrap: break-word;
      word-break: break-all;
      p {
        color: #4b4c4f;
      }
      img {
        width: 0.853333rem;
        height: 0.853333rem;
        margin-left: 0.133333rem;
        margin-top: 0.133333rem;
      }
    }
  }
}
