.header{
	width:100%;
	height: 1.173333rem;
	line-height: 1.173333rem;
	position:relative;
	background-color: #ffffff;
	// background-color: #252c4d;
	// margin-bottom: 0.22rem;
	overflow: hidden;
	.user-container{
		float: left;
		color:#fff;
		font-size:.15rem;
		.user-img{
			display: inline-block;
			width:.23rem;
			height:.23rem;
			border-radius:50%;
			background: url('../../images/user.jpg') no-repeat center;
			background-size: 100%;
			margin:.14rem .1rem 0rem .15rem;
		}
		span{
			position: relative;
			top:-.07rem;
		}
	}
	.header-menu{
		float: right;
		display: block;
		width:.15rem;
		height: 100%;
		background:url('../../images/header-menu.png')no-repeat center;
		background-size: 100%;
		margin:0rem .16rem 0rem 0rem;
	}
	.header-set{
		position: absolute;
		width: 0.64rem;
		height: 0.64rem;
		background: url('../../images/add.svg') left top no-repeat;
		background-size: 100% 100%;
		top: 0;
		bottom: 0;
		margin: auto;
		right: .16rem;
		display: block;
		color: #A2A2A2;
		font-size: .16rem;
		z-index: 200;
	}
	.header-search{
		float: right;
		display: none;
		height: 100%;
		background-size: 100%;
		color: #A2A2A2;
		font-size: .16rem;
		margin-right: .1rem;
	}
	.header-pointer{
		position: absolute;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0.32rem;
		margin: auto;
		font-size: 0.3rem;
		color: #A2A2A2;
		z-index: 999;
	}
	.header-title{
	    width: 100%;
		text-align: center;
		display: inline-block;
		color: #2A2D37;
	    font-size: 0.48rem;
	}

	// &.nobgcolor{
	// 	background-color: #ffffff;
	// 	.header-title,.header-pointer,.header-set{
	// 		color: #2A2D37;
	// 		font-size: 0.48rem;
	// 	}
	// }
}








































